[Unit]
Description=HTML convert to pdf
After=network.target

[Service]
ExecStart=/opt/htmltopdf/api/htmltopdfd -p 50002 -u htmltopdf -E production /opt/htmltopdf/api/app.psgi

Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
