<div style="font-family: 'arial'; font-size: 11px; padding: 0px 5px 0px 5px; height:297mm; width:260mm;">
	<br /><br />
	
	<p>ASCII stands for American Standard Code for Information Interchange. Computers can only understand numbers, s
	an ASCII code is the numerical representation of a character such as 'a' or '@' or an action of some sort.
	ASCII was developed a long time ago and now the non-printing characters are rarely used for their original purpose.</p>
	
	<br />
	
	<table border="0" style="font-family: 'arial'; font-size: 11px; width: 100%;">
	<tr>
	<td style="text-align: left; width: 50%;">Левая колонка невидимой таблицы</td>
	<td style="text-align: right; width: 50%;">Правая колонка невидимой таблицы</td>
	</tr>
	</table>
	
	<br />
	
	<table border="0" style="font-family: 'arial'; font-size: 11px; width: 30%;">
	<tr>
	<td style="text-align: left; width: 50%;">Левая колонка невидимой таблицы</td>
	<td style="text-align: right; width: 50%;">Правая колонка невидимой таблицы</td>
	</tr>
	</table>
	
	<br />
	
	<table border="0" style="font-family: 'arial'; font-size: 11px; margin-left: 40px; margin-right: 50px;">
	<tr>
	<td style="text-align: left; width: 50%;">Левая колонка невидимой таблицы</td>
	<td style="text-align: right; width: 50%;">Правая колонка невидимой таблицы</td>
	</tr>
	</table>
	
	<br />
	
		<table border="1" style="font-family: 'arial'; font-size: 11px; border-collapse: collapse; margin-left: 50px;">
	<tr>
		<td style="width: 30%;">Я к вам пишу – чего же боле?</td>
		<td style="width: 60%;">Что я могу еще сказать?</td>
		<td style="width: 10%;">Теперь, я знаю, в вашей воле</td>
	</tr>
	<tr>
		<td>Меня презреньем наказать.</td>
		<td>Но вы, к моей несчастной доле</td>
		<td>Хоть каплю жалости храня,</td>
	</tr>
	<tr>
		<td>Вы не оставите меня.</td>
		<td>Сначала я молчать хотела;</td>
		<td>Поверьте: моего стыда</td>
	</tr>
	<tr>
		<td>Вы не узнали б никогда,</td>
		<td>Когда б надежду я имела</td>
		<td>Хоть редко, хоть в неделю раз</td>
	</tr>
	<tr>
		<td>В деревне нашей видеть вас,</td>
		<td>Чтоб только слышать ваши речи,</td>
		<td>Вам слово молвить, и потом</td>
	</tr>
	</table>
	
	<br />
	
	<table border="1" style="font-family: 'arial'; font-size: 11px; border-collapse: collapse; width: 100%; border: 4px solid">
	<tr>
	<td style="text-align: left; width: 50%; background: red;">Левая колонка невидимой таблицы</td>
	<td style="text-align: right; width: 50%; background: blue;">Правая колонка невидимой таблицы</td>
	</tr>
	</table>
	
	<br />
	
	<table border="0" style="font-family: 'arial'; font-size: 11px; width: 100%; empty-cells: hide; border-spacing: 0;">
	<tr>
		<td rowspan="2" style="border: 1px solid black; width: 50%; color: white;">1</td>
		<td style="border: 1px solid; height: 50px;"></td>
	</tr>
	<tr>
		<td style="border: 1px solid;">Все думать, думать об одном</td>
	</tr>
	</table>
	
	<br />
	
	<div style="position: relative;">
		<div style="position: absolute;" >
			<div style="width: 80px; height: 16px; float: left; font-weight: bold; text-align: right;">Исполнитель</div>
			<div style="width: 235px; height: 16px; float: left; text-align: right; padding-right: 5px; border-bottom: 1px solid #000;">&nbsp;</div>
			<div style="width: 80px; height: 16px; float: left; font-weight: bold; text-align: right;">Заказчик</div>
			<div style="width: 235px; height: 16px; float: left; text-align: right; padding-right: 5px; border-bottom: 1px solid #000;">&nbsp;</div>
		</div>
		<div style="position: absolute; left: 80px; top: -12px;">
			<img style="width: 80px;" src="signature.png" alt="" />
		</div>
		<div style="position: absolute; left: 200px;">
			<img style="width: 140px; height: 140px;" src="stamp.png" alt="" />
		</div>
	</div>
</div>
